*{
    margin: 0 auto;
    padding: 0px;
}
.header_main{
    width: 80%;
    height: 660px;
    border: solid 1px black;
    background: #1C1E53;
}
.header{
    height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}
.conatiner{
	display: flex;
	justify-content: space-around;
	width: 55%;
}
h4{
    color: white;
}
h5{
    color: white;
    padding-top: 10px;
}
.cont{
    border-radius: 50px;
    width: 100px;
    height: 30px;
    border: 2px solid rgb(51, 127, 270);
}
.cont h4{
    color: white;
    text-align: center;
    padding-top: 5px;
}
.block1_block2{
    height: 660px;
	width: 100%;
    display: flex;
	justify-content: space-between;
	
}
.block1{
    height: 600px;
    width: 50%;
}
.text2 p{
    color: white;
}
.block2{
    height: 600px;
    width: 50%;
}
h1, p{
    color: white;
}
.text1{
    margin-top: 100px;
    padding-left: 60px;
    font-size: 28px;
    width: 440px;
    min-height: 220px;
}
.text2{
    padding-left: 60px;
    font-size: 18px;
    width: 440px;
    min-height: 60px;
}
.knopka{
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    border: 1px solid rgb(64,199,129);
    margin-top: 50px;
    margin-left: 40%;    
} 
.knopka:hover { background: rgb(53, 167, 110); }
.knopka:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
  }

.map{
    width: 600px;
    height: 330px;
    margin-top: 100px;
}

h1, h3, h4, h5, p{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.main{
    width: 80%;
    height: 560px;
    display: flex;
	justify-content: space-between;
    background: #F4F6FC;
}
main h2{
    color: black;
}
.block_main1{
    width: 40%;
}
.block_main2{
    width: 60%;
}
.main_text{
    width: 270px;
    height: 140px;
    margin-top: 30%;
    color: black;
}
.main_text h1, p{
    color: black;
}
.main_text h3{
    color: #2405F2;

}
.main_text h1, h3{
    line-height: 2.4em;
}
.block_main2 img{
    width: 40px;
    height: 40px;
}

.one, .two, .three, .four{
    width: 270px;
}
.one_two{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.three_four{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
.one_two h3{
    line-height: 2.4em;
}
.blog{
    width: 80%;
    height: 800px;
    color: black;
}
.blog h1{
    color: black;
    padding-top: 100px;
    padding-left: 200px;
}
.blogs{
    width: 85%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 70px;
}
.blog img{
    width: 337px;
    height: 237px;
}
.blog1, .blog2, .blog3{
    width: 337px
}
.blog1 p{
    margin-top: 20px;
}
.blog2 p{
    margin-top: 20px;
}
.blog3 p{
    margin-top: 20px;
}
.blog1 h3{
    margin-top: 20px;
    line-height: 1.5em;
}
.blog2 h3{
    margin-top: 20px;
    line-height: 1.5em;
}
.blog3 h3{
    margin-top: 20px;
    line-height: 1.5em;
}
.blog1 h4{
    color: black;
    margin-top: 30px;
    color: #2405F2;
}
.blog2 h4{
    color: black;
    margin-top: 30px;
    color: #2405F2;
}
.blog3 h4{
    color: black;
    margin-top: 30px;
    color: #2405F2;
}
